@model TodoApp.Web.ViewModels.AddTodoViewModel

<div>
    @using (Html.BeginForm("index", "todo", FormMethod.Post))
    {
        <h3>Add a new task</h3>
        @Html.TextBoxFor(m => m.Content)
        @Html.ValidationMessageFor(m => m.Content)
        <input type="submit" name="submit-add" value="Add" />
    }
</div>