@model IEnumerable<TodoApp.Web.ViewModels.TodoViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TodoApp</title>

    <style>
        .checked {
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <h1>Todo App</h1>
    <div>
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    @{ Html.RenderPartial("_TodoListItem", item); }
                </li>
            }
        </ul>
    </div>
    @{
        var tempViewData = TempData["_AddTodoForm"] as ViewDataDictionary;
        Html.RenderPartial("_AddTodoForm", tempViewData ?? new ViewDataDictionary());
    }
</body>
</html>