@model IEnumerable<TodoApp.Web.ViewModels.TodoViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TodoApp</title>
</head>
<body>
    <h1>Todo App</h1>
    <div>
        <ul>
            @foreach (var item in Model) {
            <li>
                @if (item.Done)
                {
                    <span style="text-decoration: line-through">
                        @item.Content
                    </span>

                    using (Html.BeginForm("start", "todo", new { id = item.Id }, FormMethod.Post)) {
                        <input type="submit" value="Undo" />
                    }
                }
                else
                {
                    <span>
                        @item.Content
                    </span>
                    using (Html.BeginForm("complete", "todo", new { id = item.Id }, FormMethod.Post)) {
                        <input type="submit" value="Done" />
                    }
                }
            </li>
            }
        </ul>
    </div>
    @{ 
        Html.RenderPartial("_AddTodoForm",
            (TempData["_AddTodoForm"] as ViewDataDictionary) ?? new ViewDataDictionary());
    }
</body>
</html>