@model IEnumerable<TodoApp.Web.ViewModels.TodoViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TodoApp</title>
</head>
<body>
    <h1>Todo App</h1>
    <div>
        <ul>
            @foreach (var item in Model) {
            <li>
                @item.Content
                @Html.ActionLink("Done", "complete", new { id = item.Id })
            </li>
            }
        </ul>
    </div>
    @{ 
        Html.RenderPartial("_AddTodoForm",
            (TempData["_AddTodoForm"] as ViewDataDictionary) ?? new ViewDataDictionary());
    }
</body>
</html>